
* {
    box-sizing: border-box;
}
p{
    margin: 0;

}
body{
    margin: 0;
    background: linear-gradient(135deg, #5503d5, #7d2ae8, #9e53fa);
    color: white;
    padding: 0;
}

.button:hover{
   background: white;
   color: #5503d5;
}
.button:disabled {
    color: lightgray;
}
.button:disabled:hover {
    background: transparent;
    color: lightgray;
  
}
.button.nextQuestion:hover{
    background: transparent;
    color: white;
}

.button {
    text-align: center;
    font-size:60px;
    background: transparent;
    padding: 15px 30px;
    border-radius: 10px;
    transition: background 0.3s ease-in;
    cursor: pointer;
    color: white;
    outline: none;
    box-shadow: none;
    border: 1px solid white;
   
}
.buttonBig {
    font-size: 100px;
}

.quizWarapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-style: normal;
  
    
}
.quizHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 70px;

}
.question {
    width: 100%;
    padding: 60px 30px;
    border: 3px solid rgb(231, 231, 109);
    font-size: 70px;
    margin: 40px 0;
    border-radius: 10px;

}
.nextQuestion {
    margin-top: 40px;
    align-self:end;
}
.answers{
    display: grid;
    justify-content: space-between;  
    grid-template-columns: auto auto;
    gap: 40px ;

}
.answers .answer {
    width: 100%;

}
.answers .answer.success {
    background: rgb(2, 119, 2);
    color: white;
}
.answers .answer.wrong {
    background: rgb(190, 50, 50);
    color: white;
}


.quizWarapper .quizPanel {
    text-align: center;
    width: 70vw;
    display: none;
    flex-direction: column;
}

.timer {
    text-align: right;
    font-size: 70px;


}
.quizEnd {
    display: none;
    text-align: center;
}

@media screen and (max-width:1200px) {
    .question {
        margin-top: 20px;
        font-size: 45px;
    }
    .answer {
        font-size: 40px;
    }
    .nextQuestion {
        font-size: 40px;
    }
    .button {
        font-size: 40px;
    }
}


@media screen and (max-width:991px) {
    .timer {
        font-size: 35px;
    }
    .question {
        font-size: 40px;
        padding: 40px 15px;
        margin: 25px 0;
    }
    .answer {
        font-size: 35px;
    }
    .nextQuestion {
        font-size: 35px;
    }
    .button {
        padding: 10px 20px;
        font-size: 35px;
    }
    .answers {
        gap: 25px;
    }
}



@media screen and (max-width:500px) {
    .timer {
        font-size: 20px;
    }
    .question {
        font-size: 25px;
        padding:25px 10px;
        margin-top: 10px;
        
    }
    .answer {
        font-size: 20px;
    }
    .answers {
        gap: 15px;
        grid-template-columns: auto;
        justify-content: stretch; 
    }
    .nextQuestion {
        font-size: 25px;
        margin-top: 20px;
    }
    .quizWarapper .quizPanel {
        width: 90vw;
    }
    .button {
        padding: 10px 10px;
        font-size: 25px;
    }
}